body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('index-background.png') center/cover no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ev-container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

form {
    display: grid;
    gap: 10px;
}

.map-container {
    flex: 1;
    height: 500px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.home-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
}

.home-btn:hover {
    background-color: #0056b3;
}




