<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Route Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-container">
        <header>
            <h1><u>Navigating towards a Cleaner World</u></h1>
            <h2><u>The Team</u></h2>
            <ul class="team-members">
                <li><a href="https://github.com/RyanPotenza" target="_blank"><img src="{{ url_for('static', filename='github-logo.png') }}" alt="GitHub Logo" width="20" height="20"> Ryan Potenza</a></li>
                <li><a href="https://github.com/MattRaghu" target="_blank"><img src="{{ url_for('static', filename='github-logo.png') }}" alt="GitHub Logo" width="20" height="20"> Matthew Raghunundan</a></li>
            </ul>
        </header>
        
        <section class="intro">
            <p>Discover a sustainable way to plan your routes with the EV Route Planner.</p>
            <a href="map.html" class="btn">Go to EV Route Planner</a>
        </section>

        <section class="mission-box">
            <p>
                In the ever-evolving landscape of transportation, our project addresses a crucial puzzle: optimizing electric vehicle route planning. As electric vehicles redefine the road ahead, our focus lies in navigating the complexities of efficient route selection, with a keen eye on environmental impact. A central aspect of our solution involves strategically choosing supercharger stations powered by cleaner energy sources, enhancing the sustainability of electric vehicle journeys. Beyond route optimization, our project meticulously tracks the carbon footprints of utilized charging stations, public transport, and gas vehicles, providing users with comprehensive insights into their environmental impact and travel time. We believe our solution is a practical step towards a future where eco-conscious choices are seamlessly integrated into our daily commutes, contributing to a cleaner and more sustainable transportation ecosystem.
                <br><br> Using this tool requires a GCP API Key. When a key is obtained, create a file titled "APIKey.txt" in the base directory of the repository and paste the raw key on the first line.
            </p>
        </section>

        <footer class="footer">
            This project is a product of the 2024 Hack@CEWIT Hackathon run by the Center of Excellence in Wireless and Information Technology (CEWIT) at Stony Brook University.
        </footer>
    </div>
</body>
</html>
















